<footer class="footer">
    <div class="container-footer">
        <div class="logo-footer">
            <h1 class="titulo-footer"> MR. BREAD</h1>
            <img src="../image/LogoMrBread.png" alt="" class="img-footer">
        </div>
        <div class="info-footer">
            <p><strong>Dirección:</strong> Bready 123, Ciudad del Pan, AR</p>
            <p><strong>Teléfono:</strong> + (54) 123 456 789</p>
            <p><strong>Email:</strong> info@mrbread.com </p>
            <p> <strong>Política de Privacidad | Términos y Condiciones</strong></p>
        </div>
    </div>

    <div class="derechos-footer">
        &copy; 2024 Mr. Bread. Todos los derechos reservados. Melina Vasta.
    </div>
</footer>

</div> <!-- Estilo para que el footer quede debajo de todo -->

</body>

</html>