<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Logo imágen pestaña navegador -->
    <link rel="shortcut icon" href="../image/LogoMrBread.svg" />
    <!-- Link a style.css -->
    <link rel="stylesheet" href="/style/style.css">

    <title>Mr. Bread</title>
</head>


<body>

    <header class="header-login">
        <nav>
            <ul>
                <li class="logo-login">
                    <button>
                        <a href="/" class="home-nav-login">
                            <h1 class="titulo-nav-login">MR. BREAD</h1>
                            <img src="../image/LogoMrBread.png" alt="">
                        </a>
                    </button>
                    <!-- poner ruta a home al logo -->
                </li>
            </ul>
        </nav>
    </header>