<%- include ('../partials/head.ejs') %>



    <section class="secciones">
        <!-- Barra divisora -->

        <div class="barra-divisora">
            <img src="../image/patronPan.svg" alt="">
        </div>

        <div class="seccion-compra-realizada">

            <p class="titulo-compra-realizada">Compra realizada con éxito </p>
            <p class="agradecimiento">¡Muchas gracias por su compra, lo esperamos pronto!</p>

            <buttn class="btn-a-home">
                <a href="/">VOLVER AL INICIO</a>
            </buttn>
        </div>

        <!-- Barra divisora -->

        <div class="barra-divisora">
            <img src="../image/patronPan.svg" alt="">
        </div>

    </section>




    <%- include ('../partials/footer.ejs') %>