<%- include ('../partials/head.ejs') %>

<section class="seccion-favoritos">
    <div class="favoritos">
        <h2>Favoritos</h2>
    </div>
</section>









<%- include ('../partials/footer.ejs') %>