<%- include ('../partials/head.ejs') %>



    <main>
        <img src="../image/fondohero.svg" alt="" class="imagen-hero">
        <div class="hero">
            <h2 class="texto-hero">"El arte del buen pan, <br> hecho con pasión"</h2>
            <div class="botones-hero">
                <button class="btns-hero">
                    <a href="/productos/all" class="a-btn-hero">NUESTROS PRODUCTOS</a>
                </button>

                <button class="btns-hero">
                    <a href="/contacto" class="a-btn-hero">CONTACTANOS</a>
                </button>
            </div>
        </div>
    </main>


    <section id="sobre-nosotros" class="sobre-nosotros">
        <div class="sobre-nosostros-container">
            <div class="imagen-sobre-nosotros">
                <img src="../image/sobre-nosotros.svg" alt="" class="img-sn">
            </div>



            <div class="sobre-nosostros">
                <div class="sobre-nosostros-containers">
                    <h3 class="titulo-sobre-nosotros">SOBRE NOSOTROS</h3>
                    <p class="parrafo-sobre-nosotros">Bienvenidos a MR BREAD., la panadería donde la tradición y la
                        pasión
                        por el
                        buen pan se encuentran. Ubicados en el corazón de Ciudad del Pan, nos dedicamos a ofrecerte
                        productos de
                        la
                        más alta calidad, hechos con amor y dedicación.</p>
                </div>



                <div class="sobre-nosostros-containers">
                    <h3 class="titulo-sobre-nosotros">NUESTRA HISTORIA</h3>
                    <p class="parrafo-sobre-nosotros">Nació de un sueño: crear un lugar donde cada pieza de pan
                        sea
                        una
                        obra de arte. Desde nuestros inicios, hemos trabajado con los mejores ingredientes y técnicas
                        artesanales
                        para llevar a tu mesa una experiencia única en cada bocado.</p>
                </div>
            </div>
        </div>


    </section>


    <div class="seccion-btn-visitanos">
        <button class="btn-visitanos">
            <a href="/productos/all">CONOCE NUESTROS PRODUCTOS</a>
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>








    <%- include ('../partials/footer.ejs') %>